@mixin animacoes ($seg){
	-webkit-transition: all $seg ease-in-out;
	-moz-transition: all $seg ease-in-out;
	-o-transition: all $seg ease-in-out;
	-ms-transition: all $seg ease-in-out;
	transition: all $seg ease-in-out;
}

.toolbar #page, .page-node-add #page {
	margin-top: 100px;
}

.toolbar #head_parado {
	top: 60px;
}

.full_relatives{
	position: relative;
	width: 100%;
	height: auto;
}
.content {
	width: 100%;
	position: relative;
	clear: both;
	max-width: 1200px;
	margin: 0 auto;
}
.content_9 {
	@extend .content;
	max-width: 960px;
}
.content_7 {
	@extend .content;
	max-width: 720px;
}
