.full_relatives{
	position: relative;
	width: 100%;
	height: auto;
}
.content {
	width: 100%;
	position: relative;
	clear: both;
	max-width: 1200px;
	margin: 0 auto;
}
.content_9 {
	@extend .content;
	max-width: 960px;
}
.content_7 {
	@extend .content;
	max-width: 720px;
}
.botao {
	padding: 10px 15px;
	background-color: $prim;
	color: $sec;
	border: 1px solid $sec;
	&:hover {
		color: $prim;
		background-color: $sec;
		border: 1px solid $prim;
	}
	&.inversa {
		color: $prim;
		background-color: $sec;
		border: 1px solid $prim;
		&:hover {
			background-color: $prim;
			color: $sec;
			border: 1px solid $sec;
		}
	}
}
