@mixin animacoes ($seg){
	-webkit-transition: all $seg ease-in-out;
	-moz-transition: all $seg ease-in-out;
	-o-transition: all $seg ease-in-out;
	-ms-transition: all $seg ease-in-out;
	transition: all $seg ease-in-out;
}

.area{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.content {
	width: 100%;
	position: relative;
	clear: both;
	max-width: 1200px;
	margin: 0 auto;
}
.content_9 {
	@extend .content;
	max-width: 960px;
}
.content_7 {
	@extend .content;
	max-width: 720px;
}
.botao {
	padding: 10px 15px;
	background-color: $prim;
	color: $sec;
	border: 1px solid $sec;
	&:hover {
		color: $prim;
		background-color: $sec;
		border: 1px solid $prim;
	}
	&.inversa {
		color: $prim;
		background-color: $sec;
		border: 1px solid $prim;
		&:hover {
			background-color: $prim;
			color: $sec;
			border: 1px solid $sec;
		}
	}
}
.responsivo_dividido {
  position: relative;
  margin-right: 2%;
  &.resp_1 {
    width: 100%;
    clear: both;
  }
  &.resp_2 {
    width: 48%;
    float: left;
  }
  &.resp_3 {
    width: 32%;
    float: left;
  }
  &.resp_4 {
    width: 23.5%;
    float: left;
  }
  &.resp_5 {
    width: 18.4%;
    float: left;
  }
  &.last {
    margin-right: 0;
  }
}
