#btn_contato {
    position: fixed;
    bottom: 0;
    right: 100px;
    background-color: $amarelo;
    z-index: 300;
    box-sizing: border-box;
    padding: 15px 50px;
    text-transform: uppercase;
    color: $cinza_claro;
    font-family: $bold;
    p{
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
    &:hover{
        background-color: $cinza_escuro;
        color: $amarelo;
    }

    img{
        display: inline-block;
        vertical-align: middle;
    }
}
