// ********************** INÍCIO DA CONVERSÃO LATERAL
#conversao_lateral{
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -83px;
  .item_sidebar{
    position: relative;
    overflow: hidden;
    background-color: #333;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 10px 0;
    padding: 6px 10px;
    width: 200px;
    right: -160px;
    @include animacoes(0.4s);
    &:hover{
      right: 0;
      @include animacoes(0.4s);
    }
    img{
      float: left;
      max-width: 30px;
      margin: 5px;
      margin-right: 20px;
    }
    p{
      position: relative;
      float: left;
      color: #ccc;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 1080px){
  #conversao_lateral{
    bottom: 0;
    top: initial;
    right: initial;
    width: 100%;
    .item_sidebar{
      width: 33.3%;
      float: left;
      margin: 0;
      box-sizing: border-box;
      right: 0;
      text-align: center;
      border-radius: 0;
      border-left: 0.5px solid #222;
      border-right: 0.5px solid #222;
      &:hover{
        opacity: 0.8;
      }
      img{
        float: none;
        margin: 4px 0;
      }
      p{
        float: none;
        margin: 2px 0;
      }
    }
  }
}

@media only screen and (max-width: 680px){
  #conversao_lateral{
    .item_sidebar{
      img{
        max-width: 26px;
      }
      p{
        font-size: 11px;
      }
    }
  }
}



// ************************************************** FIM DA CONVERSÃO LATERAL



// ********************** INÍCIO DA CONVERSÃO BOTTOM

#conversao_embaixo{
  position: fixed;
  bottom: 0;
  max-width: 1200px;
  width: 100%;
  left: 50%;
  margin-left: -600px;
  box-sizing: border-box;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  .item_sidebar{
    position: relative;
    width: 33.33%;
    float: left;
    background-color: #333;
    text-align: center;
    border-left: 0.5px solid #222;
    border-right: 0.5px solid #222;
    box-sizing: border-box;
    &:hover{
      opacity: 0.8;
    }
    img{
      max-width: 35px;
      width: 100%;
      margin: 8px;
    }
    p{
      position: relative;
      color: #ccc;
      font-size: 12px;
      text-transform: uppercase;
      margin: 5px 0;
    }
  }
}

@media only screen and (max-width: 1200px){
  #conversao_embaixo{
    left: initial;
    margin-left: initial;
    border-radius: 0;
  }
}

@media only screen and (max-width: 680px){
  #conversao_embaixo{
    .item_sidebar{
      img{
        max-width: 26px;
      }
      p{
        font-size: 11px;
      }
    }
  }
}


// ************************************************** FIM DA CONVERSÃO BOTTOM



// ********************** INÍCIO DDOS BOTOES DE conversao_lateral

#conversao_botoes{
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  box-sizing: border-box;
  .item_botao{
    position: relative;
    float: left;
    width: 31.3%;
    margin: 1%;
    background-color: #333;
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;
    &:hover{
      opacity: 0.8;
    }
    img{
      max-width: 40px;
    }
    .titulo{
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
    }
    .descricao{
      color: #ccc;
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: 750px){
  #conversao_botoes{
    .item_botao{
      width: 48%;
      margin: 1%;
    }
  }
}

@media only screen and (max-width: 480px){
  #conversao_botoes{
    .item_botao{
      width: 80%;
      margin: 1% 10%;
    }
  }
}
