footer{
    @extend .full_relatives;
    box-sizing: border-box;
    padding: 90px;
    background-color: $cinza_escuro;
    overflow: hidden;
    .metade_blocos{
        text-align: center;
        img{
            width: 150px;
        }
    }
}

#back_top {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    color: $amarelo;
    font-size: 12px;
    text-transform: uppercase;
}

.direitos{
    color: $cinza_claro;
    font-size: 12px;
    margin: 20px;
}

.icon_footer{
    position: relative;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: inline-block;
    vertical-align: middle;
    &.tel{
        background-image: url('../images/icones/footer/tel.png');
    }
    &.linkedin{
        background-image: url('../images/icones/footer/linkedin.png');
    }
    &.facebook{
        background-image: url('../images/icones/footer/facebook.png');
    }
    &.instagram{
        background-image: url('../images/icones/footer/instagram.png');
    }
    &.pinterest{
        background-image: url('../images/icones/footer/pinterest.png');
    }
    &:hover{
        background-position: center top;
    }
}

.desc_footer{
    margin: 0;
    vertical-align: middle;
    color: $amarelo;
    display: inline-block;
    font-size: 19px;
}

.linha_footer{
    display:block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}


.seta_top{
    height: 35px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../images/icones/setinha_voltar_topo.png');
}
