@media screen and (max-width: 1400px){
    .areas_conf {
        padding: 50px;
    }
    .metade_blocos{
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .tempresa {
        padding: 30px;
        margin-bottom: 50px;
    }
    .infos {
        width: 70%;
        float: none;
        margin: 0 auto;
    }
    .formulario {
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    footer {
        .metade_blocos{
            width: 48%;
        }
    }
}

@media screen and (max-width: 1200px){
  .gerenc_projetos p, .arq_interiores p, .compat p, .gerenc_adm p, .levantamento p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px){
  .gerenc_projetos p, .arq_interiores p, .compat p, .gerenc_adm p, .levantamento p {
    font-size: 12px;
  }
}

@media screen and (max-width: 960px){
  #portfolio {
    padding: 0px;
  }
  .lightbox_area{
      display: none;
  }

  .hidden_slick{
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
      .slick-slide{
          text-align: center;
      }
  }
    footer{
        .metade_blocos{
            width: 100%;
            margin-bottom: 40px;
        }
        a{
            text-decoration: none;
        }
    }

    header#fixo img.logo_topo {
    margin-top: 10px;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 10px;
}
    #fixo img {
        vertical-align: middle;
        position: relative;
        display: block;
        float: none;
    }
    .mobile_menu {
        display: block;
        position: absolute;
        z-index: 500;
        right: 10px;
        top: 10px;
        background-color: $amarelo;
        cursor: pointer;
        img{
            margin-top: 0;
        }
    }

    .menu_inside{
        width: 100%;
        height: 375px;
        max-height: 0;
        @include animacoes(.4s);
        &.aberto{
            max-height: 375px;
            @include animacoes(.4s);
        }
    }

    .menu_item{
        padding: 30px;
    }

    a.menu_item_lk {
        display: block;
        float: none;
        position: relative;
        text-align: center;
        text-decoration: none;
    }
    .dempresa{
        font-size: 16px;
        padding: 0;
    }
    .tempresa{
        font-size: 20px;
        padding: 10px;
    }
    .desc_sobre{
        p{
            font-size: 16px;
        }
    }
    #back_top {
      position: relative;
      clear: both;
      text-align: center;
      left: 0;
      width: 100%;
      margin-left: 0;
    }
    .legenda_mob {
      position: relative;
      clear: both;
      width: 100%;
      height: 100px;
      background-color: $branco;
      box-sizing: border-box;
      padding: 10px;
      p {
        font-size: 14px;
        position: relative;
        clear: both;
        text-align: left;
        margin: 0px auto;
        &.menor {
          font-size: 12px;
        }
      }
      h5 {
        position: relative;
        font-family: $bold;
        margin: 5px auto;
        clear: both;
        width: 100%;
        text-align: left;
        font-size: 16px;
      }
    }
}

@media screen and (max-width: 800px){
    .img_serv{
        display: none;
    }
    .serv_area.ativo .serv_desc {
      max-height: 540px;
    }
}

@media screen and (max-width: 500px){
    .serv_desc p {
      font-size: 12px;
    }
    #btn_contato{
        display: none;
    }
    .dempresa{
        font-size: 14px;
        padding: 0;
    }

    .desc_sobre{
        p{
            font-size: 14px;
        }
    }

    .areas_conf{
        padding: 50px 10px;
    }

    .infos {
        position: relative;
        width: 98%;
        float: none;
        margin: 0 auto;
        font-size: 14px;
    }

    .formulario {
        position: relative;
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .infos p.cont {
        background-repeat: no-repeat;
        background-position: center left;
        box-sizing: border-box;
        padding: 7px;
        padding-left: 40px;
    }
}
